// Links page
@use '../global/pixel' as *;

.link-card {
  & + & {
    margin-top: d(16);
  }

  &__title {
    margin-bottom: d(6);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: d(4);
  }
}
